/* LINK SIDEBAR */
.link-inattivo:hover {
  color: white !important;
  transition: color 0.2s;
}
.link-attivo {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #4f8ef7;
  text-decoration: none;
}

.link-inattivo {
  text-decoration: none;
  color: #a0aec0;
  background: transparent;
  border-left: 3px solid transparent;
}

@media (max-width: 991px) {
  .mobile-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background: #212529;
    padding: 12px;
    z-index: 1000;
    text-align: center;
    border-radius: 0 0 20px 20px;
  }
}
